<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./lib/element-ui/lib/theme-chalk/index.css" />
    <script src="./lib/vue.min.js"></script>
    <script src="./lib/element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app">
    	<el-button @click="setSelect">Button</el-button>
        <el-select v-model="value" placeholder="请选择" @change="selectChange">
			<el-option
				v-for="item in options"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			</el-option>
		</el-select>
    </div>
    <script>
		new Vue({
		    el: '#app',
		    data: function() {
		        return {
		        	options: [{
						value: '选项1',
						label: '黄金糕'
					}, {
						value: '选项2',
						label: '双皮奶'
					}, {
						value: '选项3',
						label: '蚵仔煎'
					}, {
						value: '选项4',
						label: '龙须面'
					}, {
						value: '选项5',
						label: '北京烤鸭'
					}],
					value: ''
		        }
		    },
		    methods: {
		    	setSelect: function () {
		    		this.value = '选项4';
		    		this.selectChange();
		    	},
		    	selectChange: function(val) {
		    		alert(val)
		    	}
		    }
		})
	</script>
</body>
</html>